@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the work submiter server for the High school of mathematics Plovdiv</p>
</div>
